{% extends "base.html" %}
{% block content %}
        <h1>Analysis Results</h1>

        <div class = "card">
        <h2>Sentiment Analysis</h2>
        <p>Your text contains {{ word_count  }} words.</p>
        <p>The average sentiment on a scale of -5 (very unpositive) to 5 (very positive) was {{ net_avg }} where the range of sentiment was from {{ range_low }} to {{ range_high }}</p>
        <p>The extremenes of your text's sentiment was {{ abs_avg }} out of 5</p><br>
        </div>

        {% if dict_rhetoric %}
            <div class = "card">
            <h2><rhetorical>Flagged Rhetorical Words</rhetorical></h2>
            <p>Your text contains {{ numb_rhetoric }} word flagged for rhetorical language making up {{ percent_rhetoric }}% of your text</p>
            <p>Flagged words with number of appearances:</p>
            <ul>
            {% for word, count in dict_rhetoric.items() %}
                <li>{{ word }}:{{ count }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        
        {% if dict_repeated_words %}
            <div class = "card">
            <h2><repeated>Flagged Repeated Words</repeated></h2>
            <p>Your text contains {{ numb_repeated_words }} words flagged for heavy repitition indicating they may be being used rhetorically or be a key theme in the text</p>
            <p>Flagged words with number of appearances:</p>
            <ul>
                {% for word, count in dict_repeated_words.items() %}
                <li>{{ word }}:{{ count }}</li>
                {% endfor %}
            </ul>
            </div>
        {% endif %}
        
        <div class="card-text">
        <h2>Analyzed text:</h2>
        <p>{{ text }}</p><br>
        </div>
        <p><a href="/">Back to Home</a></p>
        {% endblock %}