{% extends "base.html" %}
{% block content %}
    <p>Paste a piece of text to analyze signs of rhetoric and deception</p>
    <form action="/analyze_v2" method="post">
        Would you like to exclude words in quotes from the search?<select name="exclude_quotes">
            <option>yes</option>
            <option>no</option>
        </select><br><br>
        Would you like to highlight flagged words in the text?<select name="highlight_words">
            <option>yes</option>
            <option>no</option>
        </select><br><br>
        <textarea name="input_text" rows="12" cols="60" placeholder="Paste Text Here"></textarea>
        <br>
        <button type="submit">Analyze</button>
    </form>
{% endblock %}